
.nav-tabs{
  background: rgb(219, 222, 226);
}

.logo{
  position:relative;
  padding-top: 15px;
  height:60px;
  width:180px;
}
img{
  width:40px;
  height:40px;
  border-radius: 25px;
}
#navbar{
  padding:0px;
}
.navigation{
  position:fixed;
  width:180px;
  height:100vmax;
  background-color:rgba(31, 51, 66, 0.959);
}
.drop{
  background: #f9f9f9;
}
.b{
  position:fixed;
  margin-left:15px;
  font-size:20px;
  color:rgb(214, 208, 208);
}
.icon{
  float:right;
  margin:5px;
  fill:#65cea7;
}
.togglebutton{
  width:40px;
}
.link:hover{
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  color:rgb(170, 178, 192);
}



.link{
  color:rgb(170, 178, 192);
  font-size: 14px;
  padding-left: 20px;
}

.dropdown{
  padding:5px;
  color:rgb(170, 178, 192);
}

.rt-td{
  color:rgb(116, 118, 122);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.rt-tr{
  color:rgb(116, 118, 122);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
