
.nav-tabs{
  background: #f3f3f3;
}

.logo{
  position:relative;
  padding-top: 15px;
  height:60px;
  width:180px;
}
.recover{
  background: #65cea7 !important;
    border: 1px solid #3ec291 !important;
}
.iconr{
  height:20px;
  width:20px;
  margin-right:10px;
}
.sigCanvas{
  border:1px solid #c2c2c2
}
.clear{
  background:#f44336!important;
  min-width:100px;
  float: center;
  border:1px solid #f44336 !important;
}
.icons{
  display: flex;
    align-items: center;
    justify-content: center;
}
.packet-button{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.packet{
  width:100%;
  text-align: center;
  margin-top: 5px;
}
.recepmodel{
overflow: scroll;
height:400px;
margin:auto;
font-size: 14px !important;
}
.modal-dialog{
  position:fixed !important;
  display:flex;
  left:0;
  right:0;
  top:0;
  bottom:0;
  max-height:500px !important;
  justify-content: center;
}
.model{
  max-width:768px!important;
}
.Toastify__toast {
  min-height: 30px!important
}
.textedit{
  height:200px;
}

.drop{
  background: #f9f9f9;
}
.dot {
  height: 20px;
  width: 20px;
  background:green;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
  float:right;
}
.dotred {
  height: 20px;
  width: 20px;
  background:red;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
  float:right;
}
.navigation{
  position:fixed;
  width:180px;
  height:100vmax;
  background-color:rgba(31, 51, 66, 0.959);
}

.ReactTable .rt-tbody .rt-td {
  white-space: normal!important;
  word-wrap: break-word;
}

.b{
  position:fixed;
  margin-left:15px;
  font-size:20px;
  color:rgb(214, 208, 208);
}
.icon{
  float:right;
  margin:5px;
  fill:#65cea7;
}
.togglebutton{
  width:40px;
}
.link:hover{
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  color:rgb(170, 178, 192);
}

.familyprofile{
  font-size: 12px;
  color:#777;
}

.link{
  color:rgb(170, 178, 192);
  font-size: 14px;
  padding-left: 20px;
}

.dropdown{
  padding:5px;
  color:rgb(170, 178, 192);
}

.rt-td{
  color:rgb(116, 118, 122);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.rt-tr{
  color:rgb(116, 118, 122);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
